# [Kaggle - Titanic - Machine Learning from disaster](https://www.kaggle.com/competitions/titanic)
Fundamentos de Aprendizado de Máquina (*Machine Learning*) com previsão de sobreviventes do Titanic.

Carregando bibliotecas

In [23]:
import numpy as np
import pandas as pd 
print("Versão: \nNumPy = {} \nPandas = {}".format(np.__version__,pd.__version__) )

Versão:
NumPy = 1.26.4
Pandas = 2.2.2

Carregando [dados](https://www.kaggle.com/competitions/titanic/data) de treinamento e de teste.

In [6]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [12]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

| Variável | Definição | Dado |
|:--------:|:---------:|:----:|
| PassangerId| Identificação do passageiro| |
| Survived   | Sobrevivente | 0 = Não, 1 = Sim |
| Pclass     | Classe Socio-econômica | 1ª Classe, 2ª Classe, 3ª Classe |
| Age        | Idade | # |
| SibSp      | Núm. de irmãos/cônjuges a bordo | # |
| Parch      | Núm. de pais/filhos a bordo | # |
| Fare       | Tarifa do passageiro | $ |
| Cabin 	 | Número da cabine | |
| Embarked 	 | Porto de embarque |C = [Cherbourg](https://www.google.com/maps/search/porto+de+Cherbourg+maps/@49.6281645,-1.6593799,11.96z?entry=ttu), Q = [Queenstown](https://www.google.com/maps/place/Cobh+Heritage+Centre.+The+Queenstown+Story/@51.8506404,-8.3004204,15.54z/data=!4m14!1m7!3m6!1s0x484483a25a417e05:0x74993ba21fd71efc!2sPort+of+Cobh!8m2!3d51.8485389!4d-8.3001226!16s%2Fg%2F11gfh79d90!3m5!1s0x484483a2529b5617:0xd0a3054f1c4c845!8m2!3d51.8489477!4d-8.2989737!16zL20vMDdjbWx5?entry=ttu), S = [Southampton](https://www.google.com/maps/place/Southampton+Port/@50.8979509,-1.4112714,15.5z/data=!4m15!1m8!3m7!1s0x48738957be152909:0xa78c5a6a4cda71f0!2sSouthampton,+UK!3b1!8m2!3d50.9105468!4d-1.4049018!16zL20vMGdyZDc!3m5!1s0x487476cc9c9e8d9d:0xbf4d154131661131!8m2!3d50.8955972!4d-1.4052167!16s%2Fg%2F1yh805qb6?entry=ttu) |

sibsp: O conjunto de dados (dataset) define as relações familiares desta forma:

Sibling = Irmão = irmão, irmã, meio-irmão, meia-irmã

Spouse = Cônjuge = marido, esposa (amantes e noivos foram ignorados)

Parent = Mãe, Pai

Child = Criança = filha, filho, enteada, enteado (Algumas crianças viajavam apenas com babá, parch=0)

In [8]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200